body {
  font-family: sans-serif;
  width: 320px;
  padding: 10px;
}

h1 {
  font-size: 16px;
  margin-bottom: 8px;
}

button {
  margin-bottom: 8px;
  width: 100%;
}

li {
  font-size: 12px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-name {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete {
  cursor: pointer;
  color: red;
}
h2 {
  font-size: 13px;
  margin-top: 10px;
}

ul {
  padding-left: 14px;
}
